---
layout: default
---

<!-- about.html -->
      <div class="post">

        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
           </h1>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            <p class="desc">{{ page.subtitle }}</p>
            {{ content }}
            <!-- Social -->
            {%- if page.social %}
              <div class="social">
                <div class="contact-icons">
                  {% include social.html %}
                </div>

                <div class="contact-note">
                  {{ site.contact_note }}
                </div>
                
              </div>
            {%- endif %}
          </div>

          <!-- News -->
          {% if page.news -%}
            <div class="clearfix mt-5">
              <h2>News</a></h2>
              {%- include news.html %}
            </div>
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <div class="clearfix mt-5">
              <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
              {%- include selected_papers.html %}
            </div>
          {%- endif %}

          <!-- Projects -->
          {% if page.projects -%}
            <div class="clearfix mt-5">
              <h2><a href="{{ '/projects/' | relative_url }}" style="color: inherit;">Projects</a></h2>
              <!-- pages/projects.md -->
              <!-- Display projects without categories -->
                {%- assign sorted_projects = site.projects | sort: "importance" -%}
              <!-- Generate cards for each project -->
                <div class="projects">
                  <div class="grid gx-5">
                    {%- for project in sorted_projects -%}
                      {% include projects.html %}
                    {%- endfor %}
                  </div>
                </div>
            </div>
          {%- endif %}

          <!-- Gallery -->
          {% if page.gallery -%}
            <div class="clearfix mt-5">
              <h2><a href="{{ '/gallery/' | relative_url }}" style="color: inherit;">Gallery</a></h2>
              <div class="gallery">
                <h2 class="category">3D Modeling</h2>
                <div class="row justify-content-sm-center">
                    <div class="col-sm-6 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/farview.png" title="3d2" class="img-fluid rounded z-depth-1" %}
                    </div>
                    <div class="col-sm-6 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/altar.png" title="3d1" class="img-fluid rounded z-depth-1" %}
                    </div>
                </div>
                <div class="row justify-content-sm-center">
                    <div class="col-sm mt-3 mt-md-0">
                        {% include figure.html path="assets/img/wholeview.png" title="art3" class="img-fluid rounded z-depth-1" %}
                    </div>
                </div>
                <h2 class="category">Art</h2>
                <div class="row justify-content-sm-center">
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/oldman.jpg" title="art1" class="img-fluid rounded z-depth-1" %}
                    </div>
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/beforesunrise.jpg" title="art2" class="img-fluid rounded z-depth-1" %}
                    </div>
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/rabbit.jpg" title="art3" class="img-fluid rounded z-depth-1" %}
                    </div>
                </div>
                <h2 class="category">Patisserie</h2>
                <div class="row justify-content-sm-center">
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/dessert1.jpg" title="dessert11" class="img-fluid rounded z-depth-1" %}
                    </div>
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/dessert2.jpg" title="dessert12" class="img-fluid rounded z-depth-1" %}
                    </div>
                    <div class="col-sm-4 mt-3 mt-md-0">
                        {% include figure.html path="assets/img/dessert3.jpg" title="dessert13" class="img-fluid rounded z-depth-1" %}
                    </div>
                </div>
              </div>
            </div>
          {%- endif %}
        </article>
</div>
